<div fxLayout="column" fxFlexFill>
    <mat-toolbar class="primary-bg white" fxLayoutGap="8px" fxFlex="96px">
        <span class="cursor white-text" routerLink="/home'">MeDao</span>
        <span fxFlex></span>
        <app-user-widget *ngIf="App.ready" [App]="App"></app-user-widget>
    </mat-toolbar>

    <div *ngIf="App.user && App.user.deploying" fxLayout="column" fxFlex="80px">
        <mat-card class="padding centered" style="border-radius: 0px;">
            <span *ngIf="!App.user.medao" style="color: red;">While your dao is deploying, consider filling out <a routerLink="/edit">your profile</a>...</span>
            <span *ngIf="App.user.medao" fxLayout="row" fxLayoutGap="16px">
                <div fxLayout="column" fxFlex>
                    <span>Your dao has successfully deployed!</span>
                    <a class="cursor" style="color: blue;" (click)="App.view(user)">check it out...</a>
                </div>
                <button mat-icon-button (click)="App.user.deploying = null">
                    <mat-icon>close</mat-icon>
                </button>
            </span>
        </mat-card>
    </div>

    <div fxFlex>
        <router-outlet></router-outlet>
    </div>

    <mat-toolbar fxFlex="120px">
        footer
    </mat-toolbar>
</div>
