<router-outlet *ngIf="ready"></router-outlet>

<mat-sidenav-container *ngIf class="primary-bg" fxFlexFill>

    <mat-sidenav #left opened="false" mode="over" class="primary-bg">
        <app-left-nav style="border-right: 1px solid white;" [Web3]="Web3" [User]="User" fxFlex="288px"></app-left-nav>
    </mat-sidenav>

    <div fxLayout="column" fxFlexFill>
        <div fxLayout="row" fxLayoutAlign="center" fxFlex>
            <div fxLayout="row" fxFlex fxFlex.lg="1128px" fxFlex.xl="1448px">
                <div routerLink="/home" routerLinkActive="active" #rla="routerLinkActive"></div>
                <div fxHide fxShow.gt-sm *ngIf="!rla.isActive"style="position: relative; margin-right: 32px;" fxLayout="column" fxFlex="320px" routerActive>
                    <app-left-nav class="borderLR" style="position: fixed; width: 320px;" [Web3]="Web3" [User]="User" fxFlex></app-left-nav>
                </div>

                <div fxLayout="column" fxFlex>
                    <router-outlet></router-outlet>
                </div>

                <app-right-nav fxHide fxShow.xl></app-right-nav>
            </div>
        </div>
    </div>

    <mat-sidenav #right opened="false" mode="over" position="end" class="primary-bg">
        <app-right-nav fxFlex="320px"></app-right-nav>
    </mat-sidenav>

</mat-sidenav-container>
