<div style="z-index:100 !important; height:100%;" layout="column" layout-padding>
    <div style="position:absolute;top:-5px; right:-12px;">
        <md-button class="md-icon-button" aria-label="back" ng-click="back()"><md-icon md-svg-src="libs/fonts/ic_close_white_24px.svg"></md-icon></md-button>
    </div>
    <h3>Remove Bid</h3>
    <div layout="column" layout-padding>
        <table>
            <tr>
                <th>ID</th>
                <th>Value</th>
                <th>Remove</th>
            </tr>
            <tr ng-repeat="bid in bids">
                <td>{{bid.id}}</td>
                <td>{{bid.value | fromWei:'ether' | decimals:3}} eth</td>
                <td style="text-align:right;">
                    <md-button class="md-icon-button" ng-click="removeBid(bid.id)">
                        <md-icon style="color:rgba(255,0,0,0.67);" md-svg-src="libs/fonts/ic_close_white_24px.svg"></md-icon>
                    </md-button>
                </td>
            </tr>
        </table>
    </div>
</div>