<div style="z-index:100 !important; height:100%;" layout="column" layout-padding>
    <div style="position:absolute;top:-5px; right:-12px;">
        <md-button class="md-icon-button" aria-label="back" ng-click="back()"><md-icon md-svg-src="libs/fonts/ic_close_white_24px.svg"></md-icon></md-button>
    </div>
    <h1>Place Bid</h1>
    <span>Auction Reward: 1 hour</span>
    <div>
        <md-input-container class="md-block" style="border-bottom:1px solid rgba(255,255,255,0.67)">
            <label>Bid in Ether</label>
            <input type="number" ng-model="bid.amountInEther">
        </md-input-container>
    </div>
    <div layout="row" flex>
        <md-button class="medao-btn" ng-click="max()" flex="50">max</md-button>
        <md-button class="medao-btn" ng-click="place()" flex="50" ng-disabled="bid.amountInEther == 0">place</md-button>
    </div>
    <div layout="column" layout-padding>
        <table>
            <tr>
                <th>Bids</th>
                <th>x{{totalBids}}</th>
                <th style="text-align:right;">{{totalEtherBid | decimals:2}} eth</th>
            </tr>
            <tr ng-repeat="teir in teir">
                <td class="cursor" ng-click="setBidAmount(teir.value)">{{teir.value | fromWei:'ether' | decimals:3}} eth</td>
                <td>x{{teir.bids}}</td>
                <td style="text-align:right;">{{teir.total | decimals:2}} eth</td>
            </tr>
        </table>
    </div>
</div>