
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dapp-primary: mat-palette($mat-indigo);
$dapp-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dapp-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$dapp-theme: mat-light-theme($dapp-primary, $dapp-accent, $dapp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dapp-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #222d31;
}

input {
    caret-color: white !important;
}

.white .mat-button-wrapper {
    color: white !important;
}

.grey .mat-button-wrapper {
    color: grey !important;
}

.padding {
    padding: 16px;
}

.no-margin {
    margin: 0px;
}

.margin {
    margin: 16px;
}

.centered {
    text-align: center;
}

p {
    line-height: 24px;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: "Courier New";
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: white !important;
}

.mat-button[disabled][disabled] {
    color: grey;
}

.white-text * {
    color: white;
}

.grey-text {
    color: rgba(255,255,255,0.5) !important;
}

.input {
    caret-color:: white !important;
}

.primary-bg {
    background-color: #222d31 !important;
}

.secondary-bg {
    background-color: #29383e !important;
}

.scrollable {
    overflow: auto;
}

.cursor {
    cursor: hand;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: white !important;
}
