::-webkit-scrollbar {
   display: none;
}

html.md-default-theme, html, body.md-default-theme, body {
    color:rgba(255,255,255,0.87);
}

.black-background {
    background-color: rgba(37,37,37,1);
}

.darker-background {
    background-color: rgba(0,0,0,0.05);
}

.lighter-background {
    background-color: rgba(255,255,255,0.05);
}

.light-grey-text {
    color: rgba(255,255,255,0.67) !important;
}

input {
    background-color: rgba(33,33,55,1);
    border: 0px solid black;
    text-align: right;
}

input:focus {
    outline: none;
}

h1,h2,h3,h4,h5,h6 {
    color:rgba(255,255,255,0.87);
}

p {
    color:rgba(255,255,255,0.87);
    text-align: justify;
}

a {
    color: rgba(222,222,255,0.87);
}

label {
    color: rgba(255,255,255,0.5) !important;
}