<div style="position: relative;" fxLayout="column" fxFlex="320px">
    <div style="position: fixed; width: 320px; height: 100%; border-left: 1px solid white; border-right: 1px solid white;">
        <div class="scrollable padding" fxLayout="column">
            <h3>Communication</h3>
            <mat-form-field>
                <mat-label>Leave a public message...</mat-label>
                <textarea matInput rows="5" style="border-color: white;"></textarea>
            </mat-form-field>
            <button mat-button>post</button>

            <div fxFlex="32px"></div>

            <div fxLayout="column" fxLayoutGap="32px">
                <app-post *ngFor="let post of posts" [post]="post"></app-post>
            </div>
        </div>
    </div>
</div>
