<div *ngIf="User && identity" fxLayout="column" fxFlexFill>
    <app-header fxLayout="column" class="margin" [identity]="identity"></app-header>
    <div class="white padding" ngStyle.gt-xs="margin: 0px 16px;" ngStyle.gt-sm="margin: 0px 100px;" fxLayout="column">
        <p class="margin centered">
            {{identity.about}}
        </p>
        <div class="margin padding" fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap.lt-md="48px">
            <div fxLayout="row" fxLayoutAlign="space-around" fxFlex.gt-xs>
                <div class="centered" fxLayout="column" fxLayoutGap="4px">
                    <div class="white-text" style="font-weight: bold; font-size: 24px;">{{identity.medao.funding.percent | number: '1.0'}}%</div>
                    <div class="light-grey-text" style="font-size: 12px;">funded</div>
                </div>
                <div class="centered" fxLayout="column" fxLayoutGap="4px">
                    <div class="white-text" style="font-weight: bold; font-size: 24px;">${{identity.medao.funding.current | number: '1.2-2'}}</div>
                    <div class="light-grey-text" style="font-size: 12px;">funding</div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around" fxFlex.gt-xs>
                <div class="centered" fxLayout="column" fxLayoutGap="4px">
                    <div class="white-text" style="font-weight: bold; font-size: 24px;">${{identity.medao.funding.max | number: '1.0-0'}}</div>
                    <div class="light-grey-text" style="font-size: 12px;">max funding</div>
                </div>
                <div class="centered" fxLayout="column" fxLayoutGap="4px">
                    <div class="white-text" style="font-weight: bold; font-size: 24px;">${{identity.medao.wage.max | number: '1.2-2'}}</div>
                    <div class="light-grey-text" style="font-size: 12px;">hourly wage</div>
                </div>
            </div>
        </div>

        <h2>Details</h2>
        <app-details class="white" fxLayout="column" [medao]="identity.medao"></app-details>

        <span fxFlex="64px"></span>

        <mat-card style="overflow: hidden; padding: 32px;" ngStyle.gt-xs="padding: 64px;">
            <h2>Contract Agreement</h2>
            <div *ngIf="!identity.contract">No contract set.</div>
            <div *ngIf="identity.contract" [innerHTML]="identity.contract | MarkdownToHtml"></div>
        </mat-card>

        <span fxFlex="8px"></span>

        <mat-card *ngIf="User.profile" style="padding: 32px;" ngStyle.gt-xs="padding: 64px;" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center">
                <h2>Trade</h2>
                <span fxFlex></span>
                Buy &nbsp; <mat-slide-toggle [(ngModel)]="selling">Sell</mat-slide-toggle>
            </div>

            <div style="padding: 32px 0px;" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center">
                <div fxLayout="row" fxLayoutAlign.lt-md="center center" fxFlex.gt-sm>
                    <mat-form-field fxFlex="104px">
                        <mat-label>Amount</mat-label>
                        <input matInput
                            type="number"
                            step="0.01"
                            min="0.01"
                            max="{{User.profile.balances[paymentToken] | toDai | number:'1.2-2'}}"
                            [(ngModel)]="amount"
                            (ngModelChange)="updateTimeValues()">
                        <span style="padding: 0px 7px; color: grey;" matSuffix>$</span>
                        <mat-hint>
                            <span *ngIf="paymentToken == 'dai'">
                                available: ${{User.profile.balances.dai | fromWei: 'ether' | number: '1.2-2'}}
                            </span>
                            <span *ngIf="paymentToken == 'ether'">
                                available: ${{User.profile.balances.ether | toDai | number: '1.2-2'}}
                            </span>
                        </mat-hint>
                    </mat-form-field>
                    <div fxLayout="row" fxFlex="136px">
                        <span style="padding: 0px 4px; margin-top: 19px;">payed in</span>
                        <mat-form-field fxFlex="64px">
                            <mat-select [(ngModel)]="paymentToken">
                                <mat-option *ngFor="let token of ['ether','dai']" [value]="token">
                                    {{token}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex.xs="16px"></div>
                </div>
                <div class="margin padding centered" fxLayoutAlign="center" fxFlex>
                    <mat-icon fxShow fxHide.lt-md>arrow_forward</mat-icon>
                    <mat-icon fxShow fxHide.gt-sm>arrow_downward</mat-icon>
                </div>
                <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="16px" fxFlex.gt-sm>
                    <mat-form-field fxFlex="72px">
                        <mat-label>Hours</mat-label>
                        <input matInput type="number" [(ngModel)]="hours" (ngModelChange)="updateDollarValue()">
                    </mat-form-field>
                    <mat-form-field fxFlex="72px">
                        <mat-label>Minutes</mat-label>
                        <input matInput type="number" [(ngModel)]="minutes" (ngModelChange)="updateDollarValue()">
                    </mat-form-field>
                    <mat-form-field fxFlex="72px">
                        <mat-label>Seconds</mat-label>
                        <input matInput type="number" [(ngModel)]="seconds" (ngModelChange)="updateDollarValue()">
                    </mat-form-field>
                </div>
            </div>

            <div style="padding: 16px 0px;">
                Click the box below to indicate that you have read, understand, and agree to the terms set by {{identity.name}}
                <div style="padding: 16px 0px;">
                    <mat-checkbox [(ngModel)]="userAgreesToTerms" [disabled]="userAgreesToTerms" (ngModelChange)="enableDaiTrading()">I understand and agree.</mat-checkbox>
                </div>
            </div>

            <button mat-raised-button class="secondary-bg white" [ngClass]="{'grey-bg': !userAgreesToTerms}" *ngIf="!selling" [disabled]="!userAgreesToTerms">Buy</button>
            <button mat-raised-button class="secondary-bg white" [ngClass]="{'grey-bg': !userAgreesToTerms}" *ngIf="selling" [disabled]="!userAgreesToTerms">Sell</button>
        </mat-card>
    </div>
</div>
