<div *ngIf="ready" fxLayout="column" fxLayoutGap="32px" fxFlexFill>

    <app-header class="margin" fxLayout="column" [App]="App" [identity]="identity"></app-header>
    <app-details class="white" fxLayout="column" [identity]="identity"></app-details>

    <div class="white" fxLayout="column" fxLayoutGap="8px">
        <mat-card class="margin" style="padding: 32px;" ngStyle.gt-xs="padding: 64px;">
            <h2>Contract Agreement</h2>
            <div *ngIf="!identity.contract">No contract agreement set. Funds sent to this contract should be considered a DONATION with no expectation of return.</div>
            <div *ngIf="identity.contract" style="overflow: hidden; word-break: break-word;" [innerHTML]="identity.contract | MarkdownToHtml"></div>
            <div *ngIf="App.signedIn"  style="padding: 32px 0px;" fxLayout="row">
                <mat-checkbox
                    [(ngModel)]="userAgreesToTerms"
                    [disabled]="userAgreesToTerms"
                    (ngModelChange)="enableDaiTrading()">
                </mat-checkbox>
                <b style="padding: 16px; padding-top: 3px;">Check this box to indicate that you have read, understand, and agree to the terms set by {{identity.name}}</b>
            </div>
        </mat-card>
        <mat-card class="margin" style="padding: 32px;" ngStyle.gt-xs="padding: 64px;" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center">
                <h2>Trade</h2>
                <span fxFlex></span>
                Buy &nbsp; <mat-slide-toggle class="pink-slider" [(ngModel)]="selling">Sell</mat-slide-toggle>
            </div>

            <div *ngIf="!selling" style="padding: 32px 0px;" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-form-field fxFlex="104px">
                        <mat-label>Dai Amount</mat-label>
                        <input matInput
                        type="number"
                        step="0.01"
                        min="0.01"
                        [(ngModel)]="daiAmount"
                        (ngModelChange)="updateTimeValues()">
                        <span style="padding: 0px 7px; color: grey;" matSuffix>$</span>
                        <mat-hint *ngIf="App.user">max: ${{App.user.balances.dai.value | number: '1.2-2'}}</mat-hint>
                    </mat-form-field>
                </div>

                <div class="margin padding centered" fxLayoutAlign="center">
                    <mat-icon fxShow fxHide.lt-md>arrow_forward</mat-icon>
                    <mat-icon fxShow fxHide.gt-sm>arrow_downward</mat-icon>
                </div>

                <div fxLayout="row" fxLayoutGap="16px">
                    <mat-form-field fxFlex="72px">
                        <mat-label>Hours</mat-label>
                        <input matInput type="number" [(ngModel)]="hours" (ngModelChange)="updateDaiAmount()">
                    </mat-form-field>
                    <mat-form-field fxFlex="72px">
                        <mat-label>Minutes</mat-label>
                        <input matInput type="number" [(ngModel)]="minutes" (ngModelChange)="updateDaiAmount()">
                    </mat-form-field>
                    <mat-form-field fxFlex="72px">
                        <mat-label>Seconds</mat-label>
                        <input matInput type="number" [(ngModel)]="seconds" (ngModelChange)="updateDaiAmount()">
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="selling" style="padding: 32px 0px;" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center">
                <div style="position: relative;" fxLayout="column">
                    <div fxLayout="row" fxLayoutGap="16px">
                        <mat-form-field fxFlex="72px">
                            <mat-label>Hours</mat-label>
                            <input matInput type="number" [(ngModel)]="hours" (ngModelChange)="updateDaiAmount()">
                        </mat-form-field>
                        <mat-form-field fxFlex="72px">
                            <mat-label>Minutes</mat-label>
                            <input matInput type="number" [(ngModel)]="minutes" (ngModelChange)="updateDaiAmount()">
                        </mat-form-field>
                        <mat-form-field fxFlex="72px">
                            <mat-label>Seconds</mat-label>
                            <input matInput type="number" [(ngModel)]="seconds" (ngModelChange)="updateDaiAmount()">
                        </mat-form-field>
                    </div>
                    <small *ngIf="App.user && App.user.balances[identity.medao.address]" style="position: absolute; bottom: 0px; color: rgba(0,0,0,0.54);" class="centered">
                        max: {{App.user.balances[identity.medao.address].seconds | time}}
                    </small>
                </div>

                <div class="margin padding centered" fxLayoutAlign="center">
                    <mat-icon fxShow fxHide.lt-md>arrow_forward</mat-icon>
                    <mat-icon fxShow fxHide.gt-sm>arrow_downward</mat-icon>
                </div>

                <div fxLayout="row" fxLayoutAlign.lt-md="center center">
                    <mat-form-field fxFlex="104px">
                        <mat-label>Dai Amount</mat-label>
                        <input matInput
                        type="number"
                        step="0.01"
                        min="0.01"
                        [(ngModel)]="daiAmount"
                        (ngModelChange)="updateTimeValues()">
                        <span style="padding: 0px 7px; color: grey;" matSuffix>$</span>
                    </mat-form-field>
                </div>
            </div>

            <div *ngIf="App.signedIn && !selling && !userAgreesToTerms" class="margin" style="color: red;">
                *In order to buy you must first accept the contract agreement above!
            </div>

            <button mat-raised-button
                *ngIf="!selling"
                class="secondary-bg white"
                [ngClass]="{'grey-bg': !userAgreesToTerms || !validBuy()}"
                [disabled]="!userAgreesToTerms || !validBuy()"
                (click)="buy()">
                Buy
            </button>
            <button mat-raised-button
                *ngIf="selling"
                class="secondary-bg white"
                [ngClass]="{'grey-bg': !validSell()}"
                [disabled]="!validSell()"
                (click)="sell()">
                Sell
            </button>
        </mat-card>
    </div>
</div>
