<div fxLayout="row" fxLayoutAlign="center" fxFlexFill>
    <div fxLayout="row" fxFlex="1128px" fxFlex.xl="1448px" fxLayoutGap="32px">
        <div style="position: relative;" fxLayout="column" fxFlex="320px">
            <div style="position: fixed; width: 320px; height: 100%; border-left: 1px solid white; border-right: 1px solid white;">
                <div class="scrollable padding" fxLayout="column">
                    <h1 class="centered">
                        <span class="cursor" routerLink="['/home']">MeDao</span>
                    </h1>
                    <div fxLayout="column" fxFlex="68px">
                        <button mat-button *ngIf="Web3.network.connected && !User.account.signedIn" class="secondary-bg" style="padding: 16px;" (click)="User.signIn()">sign in to get started</button>
                        <a mat-button *ngIf="!Web3.network.connected" class="secondary-bg" style="padding: 16px;" href="https://metamask.io" target="_blank">
                            web3 not detected
                        </a>
                    </div>
                    <app-sign-up-form [class.opacity50]="!User.account.signedIn"></app-sign-up-form>
                </div>
            </div>
        </div>
        <div class="" fxLayout="column" fxFlex>
            <div class="secondary-bg" style="border: 1px solid white; border-top: 0px;" fxLayout="column" fxFlex="300px">
                <div class="padding" fxLayoutAlign="space-around end" fxLayoutGap="32px">
                    <button mat-button>transfer</button>
                    <button mat-button>buy/sell</button>
                    <button mat-button>collect paycheck</button>
                    <button mat-button>update contract</button>
                    <button mat-button>change owner</button>
                </div>
                <div *ngIf="medao" class="padding" fxLayoutAlign="space-around end" fxFlex="100px">
                    <h2 class="no-margin" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
                        <div>{{medao.age | number: '1.0-0'}}</div>
                        <span class="grey-text" style="font-size: 12px;">age</span>
                    </h2>
                    <h2 class="no-margin" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
                        <div>{{medao.fundedPercent}}%</div>
                        <span class="grey-text" style="font-size: 12px;">funded</span>
                    </h2>
                    <h2 class="no-margin" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
                        <div>${{medao.hourlyWage | number: '1.2-2'}}</div>
                        <span class="grey-text" style="font-size: 12px;">hourly wage</span>
                    </h2>
                    <h2 class="no-margin" style="position: relative; max-height: 79.22px;" fxLayoutGap="4px">
                        <div *ngIf="!User.balances[medao.token.address]" fxLayout="column" fxLayoutAlign="center center">
                            <div>$0.00</div>
                            <div class="grey-text" fxLayout="row" style="font-size: 12px;">
                                <div class="grey-text">balance:&nbsp;</div>
                                <div class="grey-text">0<span class="grey-text" style="padding-left: 2px">h</span></div>
                            </div>
                        </div>
                        <div *ngIf="User.balances[medao.token.address]" class="grey-text" fxLayout="column" fxLayoutAlign="center center">
                            <div>${{medao.hourlyWage * User.balances[medao.token.address] | number: '1.2-2'}}</div>
                            <div class="grey-text" fxLayout="row" style="font-size: 12px;">
                                <div class="grey-text">balance:&nbsp;</div>
                                <div >{{User.balances[medao.token.address]}}<span class="grey-text" style="padding-left: 2px">h</span></div>
                            </div>
                        </div>
                    </h2>
                </div>
                <div *ngIf="medao" style="margin-bottom: 24px;" fxLayout="column" fxLayoutAlign="end start" fxLayoutGap="8px" fxFlex>
                    <div fxLayout="row" fxLayoutAlign="start end">
                        <span fxFlex="256px"></span>
                        <h1 class="no-margin">{{medao.name}}</h1>
                    </div>
                    <div fxLayout="row">
                        <span fxFlex="272px"></span>
                        <div style="color: white;">Co-founder and CEO of Everchain.</div>
                    </div>
                </div>
            </div>
            <div style="border: 1px solid white; border-bottom: 0px;" fxFlex>
                <div class="padding" style="position: relative;">
                    <div style="position: absolute; top: -100px; max-height: 200px; max-width: 200px; overflow: hidden; border: 4px solid white; border-radius: 100px; margin-left: 16px;">
                        <div style="width: 100%; height: 100%;" fxLayout="column" fxLayoutAlign="center center">
                            <img style="width: 100%;" src="./assets/profile-picture.jpeg">
                        </div>
                    </div>
                    <div class="" fxLayout="column" fxFlex>
                        <div class="padding centered" style="margin-left: 240px; line-height: 24px;">
                            This is a short description of this particular medao. It should be simple but powerful.
                            This is a short description of this particular medao. It should be simple but powerful.
                        </div>
                        <div fxFlex="32px"></div>
                        <div *ngIf="medao" fxLayout="column" fxLayoutGap="16px">
                            <h3 class="no-margin">Details</h3>
                            <div>Last Paycheck <span fxFlex></span> {{medao.lastPaycheck | date: 'LLLL dd, yyyy'}}</div>
                            <div>Funding <span fxFlex></span> ${{ medao.balance | number: '1.0-0'}}/{{ medao.maxFunding | number: '1.0-0'}}</div>
                            <div>Salary <span fxFlex></span> ${{medao.currentSalary | number: '1.0-0'}}/{{medao.maxSalary | number: '1.0-0'}}</div>
                            <div *ngIf="showMore" fxLayout="column" fxLayoutGap="16px">
                                <div>Birth Date <span fxFlex></span> {{medao.birthDate | date: 'LLLL dd, yyyy'}}</div>
                                <div>
                                    Hourly Wage
                                    <span fxFlex></span>
                                    ${{medao.hourlyWage * medao.fundedPercent / 100 | number: '1.2-2'}}/{{medao.hourlyWage | number: '1.2-2'}}
                                </div>
                                <div>
                                    Total Supply
                                    <span fxFlex></span>
                                    <div *ngIf="medao.totalSupply >= 1">{{medao.totalSupply | number: '1.0-0'}}</div>
                                    <div *ngIf="medao.totalSupply < 1">{{medao.totalSupply | number: '1.0-2'}}</div>
                                    /{{medao.maxSupply / 3600 | number: '1.0-0'}}
                                     <span style="padding-left: 2px">h</span>
                                 </div>
                                <div>Max Annual Inflation <span fxFlex></span> {{100 / medao.age | number: '1.1-1'}}%</div>
                            </div>
                            <button mat-button *ngIf="!showMore" (click)="showMore = !showMore">show more</button>
                            <button mat-button *ngIf="showMore" (click)="showMore = !showMore">show less</button>
                        </div>
                        <div fxLayout="column" fxLayoutGap="16px">
                            <h3>Contact</h3>
                            <div fxLayout="row">No contact information set.</div>
                            <div fxFlex="32px"></div>
                        </div>
                        <div fxLayout="column" fxLayoutGap="16px">
                            <h3>Contract</h3>
                            <div fxLayout="row">No contract set.</div>
                            <div fxFlex="32px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxHide fxShow.xl style="position: relative;" fxLayout="column" fxFlex="320px">
            <div style="position: fixed; width: 320px; height: 100%; border-left: 1px solid white; border-right: 1px solid white;">
                <div class="scrollable padding" fxLayout="column">
                    <mat-form-field>
                        <mat-label>Leave a public message...</mat-label>
                        <textarea matInput rows="5" style="border-color: white;"></textarea>
                    </mat-form-field>
                    <button mat-button>post</button>

                    <div fxFlex="32px"></div>

                    <div fxLayout="column" fxLayoutGap="32px">
                        <app-post *ngFor="let post of posts" [post]="post"></app-post>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<mat-drawer-container fxFlexFill>
    <mat-drawer-content class="primary-bg" fxLayout="row" fxFlex>
        <div fxFlex>
            <div class="scrollable" fxFlex fxFlex.gt-lg="50">
                <app-toolbar [leftNav]="leftNav" [rightNav]="rightNav"></app-toolbar>
                <div class="margin" style="border: 1px solid white;" fxLayout="column">
                    <div style="border-bottom: 1px solid white;" fxFlex="">
                        <div class="padding secondary-bg" fxLayout="row" fxLayoutGap="32px">
                            <mat-toolbar class="secondary-bg" fxFlex="56px" fxLayoutAlign="center">
                                <button mat-icon-button style="width: 60px; height: 60px;" (click)="openQrcodeDialog()">
                                    <mat-icon style="width: 40px; height: 40px;" svgIcon="qrcode"></mat-icon>
                                </button>
                            </mat-toolbar>
                            <h2 class="no-margin" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
                                <div>${{medao.balance/1000 | number: '1.0-0'}}k</div>
                                <span style="font-size: 12px; color: rgba(255,255,255,0.5);">{{medao.fundedPercent}}% funded</span>
                            </h2>
                            <h3 class="no-margin" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
                                <div>${{medao.hourlyWage | number: '1.2-2'}}/h</div>
                                <span style="font-size: 12px; color: rgba(255,255,255,0.5);">wage</span>
                            </h3>
                            <h3 class="no-margin" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
                                <div fxLayout="row">
                                    <div *ngIf="!User.balances[medao.token.address]">0</div>
                                    <div *ngIf="User.balances[medao.token.address]">{{User.balances[medao.token.address]}}</div>
                                    <span style="padding-left: 2px">h</span>
                                </div>
                                <span class="centered" style="font-size: 12px; color: rgba(255,255,255,0.5);">balance</span>
                                <span class="centered" style="font-size: 12px; color: rgba(255,255,255,0.5);">(${{medao.hourlyWage * User.balances[medao.token.address] | number: '1.2-2'}})</span>
                            </h3>
                            <span fxFlex></span>
                            <button style="padding: 16px;" mat-button>transfer</button>
                            <button style="padding: 16px;" mat-button>buy/sell</button>
                            <button style="padding: 16px;" mat-button>collect paycheck</button>
                            <button style="padding: 16px;" mat-button>update contract</button>
                            <button style="padding: 16px;" mat-button>change owner</button>
                        </div>
                    </div>
                    <div class="padding" >
                        <h1 style="margin-bottom: 8px;">{{medao.name}}</h1>
                        <h4 style="margin-top: 8px; color: rgba(255,255,255,0.5)">age {{medao.age}}</h4>
                    </div>
                </div>
                <div class="padding" fxLayout="row">
                    <div fxLayout="column" fxFlex>
                        <h1 style="margin-bottom: 8px;">{{medao.name}}</h1>
                        <h4 style="margin-top: 8px; color: rgba(255,255,255,0.5)">age {{medao.age}}</h4>
                        <div class="white-text" fxLayout="column" fxLayoutGap="16px">
                            <h3 style="margin: 0px;">Details</h3>
                            <div>Birth Date <span fxFlex></span> {{medao.birthDate | date: 'LLLL dd, yyyy'}}</div>
                            <div>Salary <span fxFlex></span> ${{medao.currentSalary | number: '1.0-0'}}/{{medao.maxSalary | number: '1.0-0'}}</div>
                            <div>Last Paycheck <span fxFlex></span> {{medao.lastPaycheck | date: 'LLLL dd, yyyy'}}</div>
                            <div *ngIf="showMore" fxLayout="column" fxLayoutGap="16px">
                                <div>
                                    Total Supply
                                    <span fxFlex></span>
                                    <div *ngIf="medao.totalSupply >= 1">{{medao.totalSupply | number: '1.0-0'}}</div>
                                    <div *ngIf="medao.totalSupply < 1">{{medao.totalSupply | number: '1.0-2'}}</div>
                                    /{{medao.maxSupply / 3600 | number: '1.0-0'}}
                                     <span style="padding-left: 2px">h</span>
                                 </div>
                                 <div>Funding <span fxFlex></span> ${{ medao.balance | number: '1.0-0'}}/{{ medao.maxFunding | number: '1.0-0'}}</div>
                                <div>Max Annual Inflation <span fxFlex></span> {{100 / medao.age | number: '1.1-1'}}%</div>
                            </div>
                            <button mat-button *ngIf="!showMore" (click)="showMore = !showMore">show more</button>
                            <button mat-button *ngIf="showMore" (click)="showMore = !showMore">show less</button>
                        </div>
                        <div class="white-text" fxLayout="column" fxLayoutGap="16px">
                            <h3>Contract</h3>
                            <div fxLayout="row">No contract set.</div>
                            <div fxFlex="32px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxHide class="padding secondary-bg" fxLayout="column" fxLayoutGap="32px">
            <mat-toolbar class="secondary-bg" fxFlex="56px" fxLayoutAlign="center">
                <button mat-icon-button style="width: 60px; height: 60px;" (click)="openQrcodeDialog()">
                    <mat-icon style="width: 40px; height: 40px;" svgIcon="qrcode"></mat-icon>
                </button>
            </mat-toolbar>
            <h2 class="no-margin" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
                <div>${{medao.balance/1000 | number: '1.0-0'}}k</div>
                <span style="font-size: 12px; color: rgba(255,255,255,0.5);">{{medao.fundedPercent}}% funded</span>
            </h2>
            <h3 class="no-margin" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
                <div>${{medao.hourlyWage | number: '1.2-2'}}/h</div>
                <span style="font-size: 12px; color: rgba(255,255,255,0.5);">wage</span>
            </h3>
            <h3 class="no-margin" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
                <div fxLayout="row">
                    <div *ngIf="!User.balances[medao.token.address]">0</div>
                    <div *ngIf="User.balances[medao.token.address]">{{User.balances[medao.token.address]}}</div>
                    <span style="padding-left: 2px">h</span>
                </div>
                <span class="centered" style="font-size: 12px; color: rgba(255,255,255,0.5);">balance</span>
                <span class="centered" style="font-size: 12px; color: rgba(255,255,255,0.5);">(${{medao.hourlyWage * User.balances[medao.token.address] | number: '1.2-2'}})</span>
            </h3>
            <span fxFlex></span>
            <div fxLayout="column">
                <button style="padding: 16px;" mat-button>transfer</button>
                <button style="padding: 16px;" mat-button>buy/sell</button>
                <button style="padding: 16px;" mat-button>collect paycheck</button>
                <button style="padding: 16px;" mat-button>update contract</button>
                <button style="padding: 16px;" mat-button>change owner</button>
            </div>
        </div>
        <div class="white-text padding" fxLayout="column" fxFlex="320px">
            <h3>Public</h3>
            <mat-form-field>
                <mat-label>Leave a message...</mat-label>
                <textarea matInput rows="5" style="border-color: white;"></textarea>
            </mat-form-field>
            <button mat-button>post</button>

            <div fxFlex="32px"></div>

            <div fxLayout="column" fxLayoutGap="32px">
                <app-post *ngFor="let post of posts" [post]="post"></app-post>
            </div>
        </div>
    </mat-drawer-content>
    <mat-drawer #rightNav [opened]="false" [mode]="mode" position="end" fxFlex="157px">

    </mat-drawer>
</mat-drawer-container>
-->
