<mat-card
    ngStyle.xs="border-radius: 32px; border-top-left-radius: 136px; border-top-right-radius: 136px;"
    ngStyle.gt-xs="border-radius: 136px;"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start center"
    fxLayoutAlign="center center">
    <span fxHide.gt-xs fxFlex.xs="16px"></span>
    <div style="overflow: hidden; border-radius: 100px; height: 200px; width: 200px" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon *ngIf="!identity.image" class="secondary-bg white" style="width: 100%; height: 100%; font-size: 200px;">person</mat-icon>
        <img *ngIf="identity.image" style="width: 100%;" [src]="identity.image">
    </div>

    <div style="border-top-right-radius: 100px; border-bottom-right-radius: 100px"
        ngStyle.gt-xs="padding-right: 32px"
        fxLayout="column"
        fxFlex.gt-xs>
        <div fxLayout="column" style="min-height: 200px !important;">
            <div fxLayout="column"
                fxLayoutAlign="start start"
                fxLayoutAlign.xs="start center"
                fxLayoutGap="16px"
                fxFlex>
                <h1 class="dark-text"
                    ngClass.xs="centered"
                    ngStyle.xs="font-size: 24px"
                    ngStyle.sm="font-size: 28px"
                    ngStyle.md="font-size: 32px">
                    {{identity.name}}
                </h1>

                <div class="dark-text"
                    ngClass.xs="centered"
                    style="padding-left: 16px; font-size: 18px;"
                    ngStyle.xs="padding-left: 0px"
                    fxFlex>
                    {{identity.title}}
                </div>

                <div fxLayout="column" fxLayoutGap="16px" fxFlex>
                    <b *ngIf="!App.signedIn" fxFlex>&nbsp;</b>
                    <div *ngIf="App.signedIn && App.user" fxFlex>
                        <div *ngIf="App.user.balances[identity.medao.address]" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.xs="center center">
                            <b style="padding-right: 16px" ngStyle.gt-xs="padding-left: 16px">
                                balance: ${{App.user.balances[identity.medao.address].value | number: '1.2-2'}}
                            </b>
                            <small>({{App.user.balances[identity.medao.address].seconds | time }})</small>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.xs="center center" fxLayoutGap="16px" fx>
                        <div *ngIf="!App.signedIn" fxLayoutGap="16px">
                            <button mat-raised-button disabled="true">
                                follow
                            </button>
                        </div>
                        <div *ngIf="App.user" (mouseover)="hovered = true;" (mouseleave)="hovered = false;">
                            <button *ngIf="App.user.address == identity.address"
                                mat-raised-button
                                class="white"
                                [ngClass]="{'secondary-bg': !App.user.paycheck.collecting}"
                                [disabled]="App.user.paycheck.collecting"
                                (click)="App.user.collectPaycheck()"
                                fxFlex="160px">
                                collect
                                <span *ngIf="!hovered">{{App.user.paycheck.seconds | time }}</span>
                                <span *ngIf="hovered" class="centered" style="margin: 0px 12px;">${{App.user.paycheck.value | number: '1.2-2'}}</span>
                            </button>
                            <span *ngIf="App.user.address != identity.address">
                                <button *ngIf="!App.user.isFollowing(identity) && !view"
                                    mat-raised-button
                                    color="primary"
                                    (click)="App.user.follow(identity)"
                                    [ngClass]="{'secondary-bg': App.user}"
                                    [disabled]="!App.user">
                                    follow
                                </button>
                                <button mat-raised-button *ngIf="!view && App.user.isFollowing(identity)" class="secondary-bg white" disabled="true">
                                    following
                                </button>
                                <button mat-raised-button *ngIf="view" class="secondary-bg white" (click)="App.view(identity)">
                                    view
                                </button>
                            </span>
                        </div>
                        <div>
                            <button mat-stroked-button class="black" [matMenuTriggerFor]="moreMenu">
                                more... <mat-icon>arrow_drop_down</mat-icon>
                            </button>
                            <mat-menu #moreMenu="matMenu">
                                <span *ngIf="App.user">
                                    <a mat-menu-item
                                        *ngIf="view && App.user.address != identity.address && !App.user.isFollowing(identity)"
                                        (click)="App.user.follow(identity)">
                                        follow
                                    </a>
                                    <a mat-menu-item (click)="openTransferDialog()">
                                        transfer time
                                    </a>
                                    <a mat-menu-item (click)="openQrcodeDialog()" fxLayout="row" fxLayoutAlign="start center">
                                        pay with dai
                                        <span fxFlex="16px"></span>
                                        <mat-icon svgIcon="qrcode"></mat-icon>
                                    </a>
                                </span>
                                <span>
                                    <button mat-menu-item (click)="copyUrlToClipboard()">
                                        copy profile link
                                    </button>
                                    <a mat-menu-item *ngIf="identity.link" [href]="identity.link" target="_blank">
                                        external profile
                                    </a>
                                    <a mat-menu-item *ngIf="identity.email" [href]="'mailto:' + identity.email" target="_blank">
                                        message
                                    </a>
                                </span>
                                <span *ngIf="App.user">
                                    <a mat-menu-item
                                        *ngIf="App.user.isFollowing(identity)"
                                        (click)="App.user.unfollow(identity)">
                                        unfollow
                                    </a>
                                </span>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</mat-card>
