<div class="white-bg cursor"
    style="height: 52px; border-radius: 26px; border: 6px solid white"
    fxLayout="row"
    fxLayoutAlign="start center"
    [matMenuTriggerFor]="menu">
    <div *ngIf="!App.user"
        class="black"
        style="padding: 0px 12px;">
        <span style="font-size: 16px; height: 32px;">Anonymous</span>
    </div>
    <div *ngIf="!App.user" style="overflow: hidden; height: 40px; border-radius: 20px;">
        <div style="height: 100%; width: 40px;" class="secondary-bg" fxLayoutAlign="center center">
            <mat-icon>person</mat-icon>
        </div>
    </div>
    <div *ngIf="App.user" class="black" style="padding: 0px 12px;" fxLayout="column">
        <span *ngIf="!App.user.name" style="font-size: 16px; height: 32px;">Anonymous</span>
        <span *ngIf="App.user.name" ngStyle.xs="max-width: 134px;" style="overflow: hidden; text-overflow: ellipsis; font-size: 16px; height: 32px;">{{App.user.name}}</span>
        <span *ngIf="App.user.balances.time.seconds > 0" style="font-size: 12px; height: 16px; line-height: 12px; text-align: right;">
            <b>${{App.user.balances.time.value | number: '1.2-2'}}</b>
            &nbsp;({{App.user.balances.time.seconds | time}})
        </span>
    </div>
    <div *ngIf="App.user" style="overflow: hidden; height: 40px; border-radius: 20px;">
        <img *ngIf="App.user.image" style="height: 100%;" [src]="App.user.image">
        <div *ngIf="!App.user.image" style="height: 100%; width: 40px;" class="secondary-bg" fxLayoutAlign="center center">
            <mat-icon>person</mat-icon>
        </div>
    </div>
</div>
<mat-menu #menu="matMenu" fxLayout="column">
    <div *ngIf="!App.signedIn" fxLayout="column">
        <button mat-button [disabled]="App.signingIn" (click)="App.signIn()">
            <span *ngIf="!App.signingIn">sign in</span>
            <span *ngIf="App.signingIn">signing in</span>
        </button>
    </div>
    <div *ngIf="App.user" fxLayout="column">
        <div *ngIf="!App.user.medao" fxLayout="column">
            <button mat-button routerLink="/register">register</button>
        </div>
        <div *ngIf="App.user.medao || App.user.deploying" fxLayout="column">
            <button mat-button (click)="App.view(App.user)">my profile</button>
            <button mat-button routerLink="/edit">edit profile</button>
        </div>
        <button mat-button routerLink="/network">my network</button>
    </div>
</mat-menu>
