<div style="position: relative;" fxLayout="column" fxFlexFill>
    <button mat-icon-button style="position: absolute; top: -16px; right: -16px;" (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>

    <div fxLayout.xs="column" fxLayout="row" fxFlex.gt-xs>
        <div fxLayout="column" fxLayoutGap="16px" fxFlex.gt-xs>
            <h2>Transfer Time</h2>
            <mat-form-field>
                <mat-label>Ethereum Address</mat-label>
                <input matInput type="text" [(ngModel)]="toAddress"/>
            </mat-form-field>
            <div class="centered" fxLayout="row" fxLayoutGap="16px">
                <mat-form-field fxFlex="72px">
                    <mat-label>Hours</mat-label>
                    <input matInput type="number" min="0" [(ngModel)]="hours" (ngModelChange)="updateDollarValue()">
                </mat-form-field>
                <mat-form-field fxFlex="72px">
                    <mat-label>Minutes</mat-label>
                    <input matInput type="number" min="0" [(ngModel)]="minutes" (ngModelChange)="updateDollarValue()">
                </mat-form-field>
                <mat-form-field fxFlex="72px">
                    <mat-label>Seconds</mat-label>
                    <input matInput type="number" min="0" [(ngModel)]="seconds" (ngModelChange)="updateDollarValue()">
                </mat-form-field>
            </div>

            <div *ngIf="user.balances[identity.medao.address]">
                available: {{user.balances[identity.medao.address].seconds | time}}
            </div>

            <span fxFlex.gt-xs></span>

            <button mat-raised-button
                class="secondary-bg white"
                [ngClass]="{'grey-bg': !valid()}"
                [disabled]="!valid()"
                (click)="transfer()">
                transfer ${{dollarValue | number: '1.2'}} worth of time
            </button>
        </div>
    </div>
</div>
