<div class="black-theme">
    <div class="skinny">
        <div fxHide.gt-sm style="width: 100%; background-color: #444;" fxLayoutAlign="center center">
            <mat-icon style="height: 300px; width: 300px; font-size: 300px;">person</mat-icon>
        </div>
        <div class="padding32" fxHide.gt-sm fxLayout="column" fxLayoutGap="32px">
            <div fxLayout="column" fxLayoutAlign="start center" fxFlex>
                <h2 style="text-align: center; margin-bottom: 8px;">Joseph Brian Reed</h2>
                <h4 style="text-align: center; margin-top: 0px; color: rgba(255,255,255,0.77)" fxLayout.xs="column">
                    <span style="margin-bottom: 8px;">@chicobitcoinjoe</span>
                </h4>
                <p>
                    CEO of MeDao - CEO of the Everchain Project
                </p>
                <div>
                    <span>100% funded</span>
                    <span fxFlex="48px"></span>
                    <span>$50.00/h</span>
                </div>
            </div>
        </div>
        <div fxHide fxShow.gt-sm class="padding32" fxLayout="column">
            <div fxLayout="row" fxLayoutGap="32px" fxFlex>
                <mat-icon style="
                    width: 300px;
                    height: 300px;
                    font-size: 300px;
                    color: #444;
                    background-color: #AAA;">
                    person
                </mat-icon>
                <div fxLayout="column" fxFlex>
                    <h1 style="margin-top: 0px; margin-bottom: 8px;">Joseph Brian Reed</h1>
                    <h4 style="margin-top: 0px; color: rgba(255,255,255,0.77)">
                        @chicobitcoinjoe
                        <span fxFlex="48px"></span>
                        100% funded
                        <span fxFlex="48px"></span>
                        $50.00/h
                    </h4>
                    <p style="padding: 16px 0px;">
                        CEO of MeDao - CEO of the Everchain Project
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
