<div style="max-width: 400px; width: 100%; margin: 64px auto;">
    <div class="black-theme padding32" fxLayout="column">
        <h1 style="margin-top: 0px !important; margin-bottom: 32px !important;">Sign In</h1>
        <div fxLayout="column" fxLayoutGap="16px">
            <button mat-raised-button>sign in with metamask</button>
            <mat-checkbox>Remember me</mat-checkbox>
            <mat-divider></mat-divider>
            <span>By using this site or any associated smart contracts or applications you agree to any set <a href="">Privacy Policies</a> and/or <a href="">Terms of Service</a>.</span>
        </div>
    </div>
</div>
