<div fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="center" fxFlex>
        <div fxLayout="row" fxFlex fxFlex.lg="1128px" fxFlex.xl="1448px">
            <div class="borderLR" fxLayout="column" fxFlex>
                <div fxHide.gt-xs fxLayout="column" fxFlex>
                    <mat-toolbar class="secondary-bg" style="position: fixed; z-index: 3;" fxLayoutGap="16px">
                        <button mat-icon-button fxHide.gt-md (click)="left.toggle() && right.close()"><mat-icon>menu</mat-icon></button>
                        <span *ngIf="medao">{{medao.name}}</span>
                        <span fxFlex></span>
                        <button mat-icon-button fxHide.xl (click)="right.toggle() && left.close()"><mat-icon>public</mat-icon></button>
                    </mat-toolbar>
                    <div class="secondary-bg" fxLayout="column">
                        <div fxLayout="row">
                            <div fxFlex="72px"></div>
                            <div class="secondary-bg" style="z-index: 4;"fxLayout="column" fxLayoutAlign="start center" fxFlex>
                                <div fxLayout="column" style="position: relative;">
                                    <div style="position: absolute; bottom: 32px; left: -16px;">
                                        <button mat-icon-button>
                                            <mat-icon svgIcon="qrcode"></mat-icon>
                                        </button>
                                    </div>
                                    <div style="margin-top: 32px; height: 200px; width: 200px; max-height: 200px; max-width: 200px; overflow: hidden; border: 4px solid white; border-radius: 100px; z-index: 4;">
                                        <div style="width: 100%; height: 100%;" fxLayout="column" fxLayoutAlign="center center">
                                            <img *ngIf="medao" style="width: 100%;" src="./assets/profile-picture.jpeg">
                                        </div>
                                    </div>
                                    <div fxFlex="32px"></div>
                                </div>
                                <div *ngIf="medao" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
                                    <h2 class="no-margin centered">{{medao.name}}</h2>
                                    <div class="centered">Co-founder and CEO of Everchain.</div>
                                </div>
                                <div fxFlex="32px"></div>
                            </div>
                            <div fxFlex="72px"></div>
                        </div>
                    </div>
                    <div fxFlex="36px" class="secondary-bg" style="border-bottom: 1px solid white;" ></div>
                    <div fxLayout="column" fxLayoutGap="16px">
                        <mat-toolbar fxFlex="100px" fxFlex.gt-sm="56px" fxFlex.gt-sm="row">
                            <div *ngIf="medao" fxLayout="column" fxLayoutAlign="center center" fxFlex>
                                <app-info-bubbles [medao]="medao" [User]="User" fxFlex.gt-sm></app-info-bubbles>
                                <app-medao-buttons fxFlex.gt-sm></app-medao-buttons>
                            </div>
                        </mat-toolbar>
                        <div *ngIf="medao" fxLayout="column" fxLayoutGap="16px">
                            <div class="padding centered" style="line-height: 24px;">
                                This is a short description of this particular medao. It should be simple but powerful.
                            </div>
                            <h3 class="no-margin">Details</h3>
                            <div>Last Paycheck <span fxFlex></span> {{medao.lastPaycheck | date: 'LLLL dd, yyyy'}}</div>
                            <div>Birth Date <span fxFlex></span> {{medao.birthDate | date: 'LLLL dd, yyyy'}}</div>
                            <div>Funding <span fxFlex></span> ${{ medao.balance | number: '1.0-0'}}/{{ medao.maxFunding | number: '1.0-0'}}</div>
                            <div>Salary <span fxFlex></span> ${{medao.currentSalary | number: '1.0-0'}}/{{medao.maxSalary | number: '1.0-0'}}</div>
                            <div *ngIf="showMore" fxLayout="column" fxLayoutGap="16px">
                                <div>
                                    Hourly Wage
                                    <span fxFlex></span>
                                    ${{medao.hourlyWage * medao.fundedPercent / 100 | number: '1.2-2'}}/{{medao.hourlyWage | number: '1.2-2'}}
                                </div>
                                <div>
                                    Total Supply
                                    <span fxFlex></span>
                                    <div *ngIf="medao.totalSupply >= 1">{{medao.totalSupply | number: '1.0-0'}}</div>
                                    <div *ngIf="medao.totalSupply < 1">{{medao.totalSupply | number: '1.0-2'}}</div>
                                    /{{medao.maxSupply / 3600 | number: '1.0-0'}}
                                    <span style="padding-left: 2px">h</span>
                                </div>
                                <div>Max Annual Inflation <span fxFlex></span> {{100 / medao.age | number: '1.1-1'}}%</div>
                            </div>
                            <button mat-button *ngIf="!showMore" (click)="showMore = !showMore">show more</button>
                            <button mat-button *ngIf="showMore" (click)="showMore = !showMore">show less</button>
                        </div>
                        <div fxLayout="column" fxLayoutGap="16px">
                            <h3>Contact</h3>
                            <div fxLayout="row">No contact information set.</div>
                            <div fxFlex="32px"></div>
                        </div>
                        <div fxLayout="column" fxLayoutGap="16px">
                            <h3>Contract</h3>
                            <div fxLayout="row">No contract set.</div>
                            <div fxFlex="32px"></div>
                        </div>
                    </div>
                </div>

                <div fxHide.xs fxLayout="row" fxFlex>
                    <div fxHide fxShow.gt-sm fxLayout="row" fxFlex="320px">
                        <app-left-nav class="fixed" [User]="User" [Web3]="Web3" fxFlex="320px"></app-left-nav>
                    </div>
                    <div fxHide fxShow.gt-sm class="borderLR" fxFlex="32px"></div>
                    <div class="" fxLayout="column" fxFlex>
                        <div class="secondary-bg" style="border-bottom: 1px solid white;" fxLayout="column" fxFlex="136px">
                            <mat-toolbar class="secondary-bg" style="width: 100%">
                                <button mat-icon-button fxHide.gt-sm (click)="left.toggle() && right.close()"><mat-icon>menu</mat-icon></button>
                                <span fxFlex></span>
                                <button mat-icon-button fxHide.xl (click)="right.toggle() && left.close()"><mat-icon>public</mat-icon></button>
                            </mat-toolbar>
                            <div style="margin-bottom: 24px;" fxLayout="column" fxLayoutAlign="end start" fxLayoutGap="8px" fxFlex>
                                <div fxLayout="row" fxLayoutAlign="start end">
                                    <span fxFlex="224px"></span>
                                    <h2 *ngIf="medao" class="no-margin">{{medao.name}}</h2>
                                </div>
                                <div fxLayout="row">
                                    <span fxFlex="240px"></span>
                                    <div *ngIf="medao" style="color: white;">Co-founder and CEO of Everchain.</div>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="column" style="position: relative;">
                            <div style="position: absolute; top: 60px; left: 0px;">
                                <button mat-icon-button>
                                    <mat-icon fxShow fxHide.gt-md style="color: #222d31" svgIcon="qrcode"></mat-icon>
                                    <mat-icon fxHide fxShow.gt-md svgIcon="qrcode"></mat-icon>
                                </button>
                            </div>
                            <div style="background-color: #222d31; position: absolute; top: -100px; height: 200px; max-height: 200px; width: 200px; max-width: 200px; overflow: hidden; border: 4px solid white; border-radius: 100px; margin-left: 16px;">
                                <div style="width: 100%; height: 100%;" fxLayout="column" fxLayoutAlign="center center">
                                    <img *ngIf="medao" style="width: 100%;" src="./assets/profile-picture.jpeg">
                                </div>
                            </div>
                        </div>
                        <div class="" fxLayout="column" fxFlex>
                            <div class="" fxLayout="column">
                                <mat-toolbar style="padding-left: 240px" fxFlex="100px" fxFlex.gt-md="56px" fxFlex.gt-md="row">
                                    <div *ngIf="medao" fxLayout="column" fxLayout.gt-md="row" fxLayout.md="column" fxLayoutAlign.gt-md="start center" fxLayoutAlign="center center" fxFlex>
                                        <app-info-bubbles [medao]="medao" [User]="User" fxFlex.gt-md></app-info-bubbles>
                                        <span fxFlex.gt-md></span>
                                        <app-medao-buttons fxFlex.gt-md></app-medao-buttons>
                                    </div>
                                </mat-toolbar>
                            </div>
                            <div *ngIf="medao" class="padding" fxLayout="column">
                                <span fxFlex.gt-sm="32px"></span>
                                <div class="margin padding centered" style="line-height: 24px;">
                                    This is a short description of this particular medao. It should be simple but powerful.
                                </div>

                                <div fxFlex="32px"></div>

                                <div fxLayout="column" fxLayoutGap="16px" fxFlex>
                                    <h3 class="no-margin">Details</h3>
                                    <div>Last Paycheck <span fxFlex></span> {{medao.lastPaycheck | date: 'LLLL dd, yyyy'}}</div>
                                    <div>Birth Date <span fxFlex></span> {{medao.birthDate | date: 'LLLL dd, yyyy'}}</div>
                                    <div>Funding <span fxFlex></span> ${{ medao.balance | number: '1.0-0'}}/{{ medao.maxFunding | number: '1.0-0'}}</div>
                                    <div>Salary <span fxFlex></span> ${{medao.currentSalary | number: '1.0-0'}}/{{medao.maxSalary | number: '1.0-0'}}</div>
                                    <div *ngIf="showMore" fxLayout="column" fxLayoutGap="16px">
                                        <div>
                                            Hourly Wage
                                            <span fxFlex></span>
                                            ${{medao.hourlyWage * medao.fundedPercent / 100 | number: '1.2-2'}}/{{medao.hourlyWage | number: '1.2-2'}}
                                        </div>
                                        <div>
                                            Total Supply
                                            <span fxFlex></span>
                                            <div *ngIf="medao.totalSupply >= 1">{{medao.totalSupply | number: '1.0-0'}}</div>
                                            <div *ngIf="medao.totalSupply < 1">{{medao.totalSupply | number: '1.0-2'}}</div>
                                            /{{medao.maxSupply / 3600 | number: '1.0-0'}}
                                            <span style="padding-left: 2px">h</span>
                                        </div>
                                        <div>Max Annual Inflation <span fxFlex></span> {{100 / medao.age | number: '1.1-1'}}%</div>
                                    </div>
                                    <button mat-button *ngIf="!showMore" (click)="showMore = !showMore">show more</button>
                                    <button mat-button *ngIf="showMore" (click)="showMore = !showMore">show less</button>
                                </div>
                                <div fxLayout="column" fxLayoutGap="16px">
                                    <h3>Contact</h3>
                                    <div fxLayout="row">No contact information set.</div>
                                    <div fxFlex="32px"></div>
                                </div>
                                <div fxLayout="column" fxLayoutGap="16px">
                                    <h3>Contract</h3>
                                    <div fxLayout="row">No contract set.</div>
                                    <div fxFlex="32px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxHide fxShow.gt-lg class="borderLR" fxFlex="32px"></div>
                    <div fxHide fxShow.gt-lg fxLayout="row">
                        <app-right-nav fxFlex="320px"></app-right-nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
