<mat-toolbar fxFlex="100px" fxFlex.gt-md="56px" fxLayout="row">
    <div fxFlex.gt-sm="232px"></div>
    <div *ngIf="medao" fxLayout="column" fxLayout.gt-md="row" fxLayout.md="column" fxLayoutAlign.gt-md="start center" fxLayoutAlign="center center" fxFlex>
        <div fxLayout="row" fxLayoutGap="32px">
            <div class="info-bubble">
                <div class="dark-text" style="height: 24px;">${{medao.wage.max | number: '1.2-2'}}</div>
                <div class="grey-text" style="font-size: 12px;">hourly wage</div>
            </div>
            <div class="info-bubble">
                <div class="dark-text" style="height: 24px;">{{medao.funding.current / 1000 | number: '1.0-0'}}k/{{medao.funding.max / 1000 | number: '1.0-0'}}k</div>
                <div class="grey-text" style="font-size: 12px;">funding: {{medao.funding.percent}}%</div>
            </div>
            <div class="info-bubble" *ngIf="!User.balances[medao.token.address]">
                <div class="dark-text" style="height: 24px;">$0.00</div>
                <div class="grey-text" style="font-size: 12px;">balance: 0h</div>
            </div>
            <div class="info-bubble" *ngIf="User.balances[medao.token.address]">
                <div class="dark-text" style="height: 24px;">${{medao.wage.max * User.balances[medao.token.address]/3600 | number: '1.2-2'}}</div>
                <div class="grey-text" style="font-size: 12px;">balance: {{User.balances[medao.token.address]/3600 | number: '1.2-5'}}h</div>
            </div>
        </div>
        <div fxFlex.gt-md="32px"></div>
        <div *ngIf="User.account.signedIn" fxLayout="row" fxLayoutGap="16px" fxLayoutGap.gt-md="8px">
            <button *ngIf="(!User.medao || User.medao.address != medao.address) && !User.isFollowing(medao.address)" mat-button (click)="User.follow(medao.address)">
                <div class="dark-text">follow</div>
            </button>
            <button *ngIf="(!User.medao || User.medao.address != medao.address) && User.isFollowing(medao.address)" mat-button (click)="User.unfollow(medao.address)">
                <div class="dark-text">unfollow</div>
            </button>
            <button *ngIf="(medao && User.medao) && User.medao.address == medao.address" mat-button (click)="User.medao.collect()">
                <div class="dark-text">collect</div>
            </button>
            <button mat-button (click)="openTradeDialog()">
                <div class="dark-text">trade</div>
            </button>
            <button mat-button (click)="openSendDialog()">
                <div class="dark-text">pay</div>
            </button>
            <button mat-button fxHide>
                <div class="dark-text">collect paycheck</div>
            </button>
            <button mat-button fxHide>
                <div class="dark-text">update contract</div>
            </button>
            <button mat-button fxHide>
                <div class="dark-text">change owner</div>
            </button>
        </div>
    </div>
</mat-toolbar>
