<div *ngIf="!paymentSelection" fxLayout="column" fxLayoutGap="32px">
    <h3 mat-dialog-title>I would like to...</h3>
    <mat-radio-group [(ngModel)]="paymentSelection" fxLayout="column" fxLayoutGap="32px">
        <mat-radio-button [value]="medao.name">
            Pay {{medao.name}}
        </mat-radio-button>
        <mat-radio-button [value]="'Dao'">
            Pay the Dao
        </mat-radio-button>
        <mat-radio-button [value]="'Address'">
            Pay an Ethereum Address
        </mat-radio-button>
    </mat-radio-group>
    <button mat-button class="white" (click)="dialogRef.close()">cancel</button>
</div>
<div *ngIf="paymentSelection" fxLayout="column" fxLayoutGap="16px">
    <h3 mat-dialog-title>Pay {{paymentSelection}}</h3>
    <div *ngIf="paymentSelection == 'Address'" fxLayout="row">
        <mat-form-field floatLabel="never" fxFlex>
            <mat-label>Ethereum Address</mat-label>
            <input matInput type="text" [(ngModel)]="customAddress"/>
        </mat-form-field>
    </div>

    <div fxLayout="row">
        <mat-form-field style="padding-right: 8px;" fxFlex="124px" fxFlex.sm="168px">
            <input matInput style="text-align: right" type="number" min="0" step="1" [(ngModel)]="sendAmount"/>
            <mat-hint *ngIf="selectedToken != 'time'">max {{user.balances[selectedToken] | fromWei: 'ether' | number: '1.2-5'}} {{selectedToken}}</mat-hint>
            <mat-hint *ngIf="selectedToken == 'time'">max {{(user.balances[selectedToken] / 3600).toString() | fromWei: 'ether' | number: '1.2-5'}} hours</mat-hint>
        </mat-form-field>
        <mat-form-field fxFlex="60px">
            <mat-select [(ngModel)]="selectedToken">
                <mat-option *ngFor="let token of tokens" [value]="token" placeholder="token" [disabled]="paymentSelection == 'Dao' && token == 'ether'">
                    {{token}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="16px">
        <button *ngIf="paymentSelection" mat-button class="white" (click)="paymentSelection = null">back</button>
        <button [disabled]="!valid()" mat-button (click)="pay()" [ngClass]="{'white': valid()}" fxFlex>pay</button>
    </div>
</div>
