<div style="z-index:100 !important; height:100%;" layout="column" layout-padding>
    <div style="position:absolute;top:-5px; right:-12px;">
        <md-button class="md-icon-button" aria-label="back" ng-click="back()"><md-icon md-svg-src="libs/fonts/ic_close_white_24px.svg"></md-icon></md-button>
    </div>
    <h3>Submit Payment</h3>
     <div>
        <md-input-container class="md-block" style="border-bottom:1px solid rgba(255,255,255,0.67)">
            <label>Amount in Seconds</label>
            <input type="number" ng-model="payment.amountInSeconds">
        </md-input-container>
        <div ng-show="payment.amountInSeconds > 0">
            <p>~ {{payment.amountInSeconds / 3600 | decimals:2}} hours</p>
            <span> or </span>
            <p>~ {{payment.amountInSeconds / 60 | decimals:2}} minutes</p>
        </div>
    </div>
    <div>
        <md-input-container class="md-block" style="border-bottom:1px solid rgba(255,255,255,0.67)">
            <label>Comment</label>
            <textarea ng-model="payment.comment" rows="5"></textarea>
        </md-input-container>
    </div>
    <div layout="row" flex>
        <md-button class="medao-btn" ng-click="maxTime()" flex="50">max</md-button>
        <md-button class="medao-btn" ng-click="makePayment()" flex="50" ng-disabled="payment.amountInSeconds == null || send.amountInEther == 0">submit</md-button>
    </div>
</div>