<div fxLayout="column" fxFlex>
    <mat-toolbar color="primary" class="primary-bg" fxLayoutGap="8px" fxFlex="56px">
        <button fxHide mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <h3 *ngIf="router.url != '/home'" [routerLink]="['/home']">MeDao</h3>
        <span fxFlex></span>
        <a *ngIf="!Web3.network.connected" mat-button style="border: 1px solid rgba(255,255,255,0.33); color: white;" href="https://metamask.io" target="_blank">
            try metamask
        </a>
        <app-signin-button *ngIf="Web3.network.valid && !Web3.account.signedIn"></app-signin-button>
        <button *ngIf="!Web3.network.valid" style="border: 1px solid rgba(255,255,255,0.33); color: red;" mat-button disabled>
            {{Web3.network.name}}
        </button>
    </mat-toolbar>
</div>
