<div style="z-index:100 !important; height:100%;" layout="column" layout-padding>
    <div style="position:absolute;top:-5px; right:-12px;">
        <md-button class="md-icon-button" aria-label="back" ng-click="back()"><md-icon md-svg-src="libs/fonts/ic_close_white_24px.svg"></md-icon></md-button>
    </div>
    <h3>Clones</h3>
    <div>
        <div class="light-border" ng-show="showClonePanel && isController" layout="column" layout-padding flex>
            <div>
                <md-input-container class="md-block">
                    <label>Clone Name</label>
                    <input style="border-bottom:1px solid rgba(255,255,255,0.13);" ng-model="clone.name">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Clone Symbol</label>
                    <input style="border-bottom:1px solid rgba(255,255,255,0.13);" ng-model="clone.symbol">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Clone Url</label>
                    <input style="border-bottom:1px solid rgba(255,255,255,0.13);" ng-model="clone.url">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Token Controller</label>
                    <input style="border-bottom:1px solid rgba(255,255,255,0.13);" ng-model="clone.controller">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Snapshot Delay (in Days)</label>
                    <input type="number" min="1" style="border-bottom:1px solid rgba(255,255,255,0.13);" ng-model="clone.delay">
                </md-input-container>
            </div>
            <div class="cursor highlight" layout="row" flex>
                <md-button class="medao-btn md-raised md-primary" ng-show="showClonePanel" ng-disabled="!validInput()" ng-click="createClone()" flex>Create Clone</md-button>
                <md-button class="medao-btn" ng-click="showClonePanel = false">hide</md-button>
            </div>
        </div>
        <div ng-hide="showClonePanel || !isController" class="light-border cursor highlight" style="margin-bottom:8px;" layout="row" ng-click="showClonePanel = true">
            <span style="padding: 16px 8px;" layout="row" layout-align="center center" flex>
                show create clone panel
            </span>
        </div>
    </div>
    <div>
        <div layout="column" class="highlight" flex>
            <div ng-repeat="clone in clones" class="light-border cursor" style="margin-bottom:8px;">
                <div layout="row" layout-xs="column" layout-align="center center" flex>
                    <div ng-click="openUrl(clone.url)" layout="column" layout-padding flex>
                        <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{clone.name}}</span>
                        <small style="word-wrap:break-word; color:rgba(255,255,255,0.67)">{{clone.url}}</small>
                    </div>
                    <md-button ng-show="isController && !showSetUrlPanel" class="medao-btn" ng-click="showSetUrlPanel = true" flex-xs>set url</md-button>
                    <md-button ng-show="isController && showSetUrlPanel" class="medao-btn" ng-click="showSetUrlPanel = false" flex-xs>close</md-button>
                </div>
                <div ng-show="showSetUrlPanel" layout="row" layout-padding>
                    <div flex>
                        <md-input-container class="md-block">
                            <label>New Url</label>
                            <input style="border-bottom:1px solid rgba(255,255,255,0.13);" ng-model="newUrl">
                        </md-input-container>
                    </div>
                    <div>
                        <md-button class="medao-btn md-raised md-primary" ng-click="setCloneUrl(clone.id, newUrl)">set url</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>