<div class="black-background" style="overflow:auto;">
    <div class="black-background" style="position:fixed;top:0px; height:52px; width:100%;z-index:10;">
        <div layout="row" layout-align="left top"  flex>
            <div layout="row" layout-padding flex>
                <span class="cursor" style="margin-right:12px;margin-top:2px" layout="row" ng-click="goto('/home')">
                    <span style="font-size:16px;">l</span>
                    <span style="font-size:10px; margin: 3px 1px">l</span>
                    <span style="font-size:16px;">l</span>
                    <span style="margin: 0px 1px">eDao</span>
                </span>
                <span ng-hide="showSearch" flex></span>
                <span class="search-bar" ng-class="{'lighter-background':showSearch}" style="padding:0px 4px; max-height:36px;" ng-show="showSearch" layout="row" flex>
                    <md-input-container style="margin:0px" md-no-float flex>
                        <label>Enter an address</label>
                        <input type="text" ng-model="search.text">
                    </md-input-container>
                </span>
                <md-button ng-show="showSearch" class="search-bar-btn search-btn" ng-class="{'lighter-background':showSearch}" ng-click="validateSearch(search.text)">
                    <md-icon aria-label="search medaos" md-svg-src="libs/fonts/ic_search_white_24px.svg"></md-icon>
                </md-button>
                <md-button ng-show="showSearch" class="search-bar-btn" ng-click="showSearch = !showSearch">
                    <md-icon aria-label="hide search bar" md-svg-src="libs/fonts/ic_close_white_24px.svg"></md-icon>
                </md-button>
                <home-tutorial-btn ng-hide="showSearch"></home-tutorial-btn>
                <md-button ng-hide="showSearch" class="search-bar-btn" ng-class="{'lighter-background':showSearch}" ng-click="showSearch = !showSearch">
                    <md-icon aria-label="show search bar" md-svg-src="libs/fonts/ic_search_white_24px.svg"></md-icon>
                </md-button>
            </div>
        </div>
    </div>
    <div style="background-color: rgba(37,37,37,0.90);position:fixed;top:52px; height:2px; width:100%;z-index:10;"></div>
    <div style="background-color: rgba(37,37,37,0.75);position:fixed;top:54px; height:2px; width:100%;z-index:10;"></div>
    <div style="background-color: rgba(37,37,37,0.60);position:fixed;top:56px; height:1px; width:100%;z-index:10;"></div>
    <div style="background-color: rgba(37,37,37,0.45);position:fixed;top:57px; height:1px; width:100%;z-index:10;"></div>
    <div style="background-color: rgba(37,37,37,0.30);position:fixed;top:58px; height:1px; width:100%;z-index:10;"></div>
    <div style="background-color: rgba(37,37,37,0.15);position:fixed;top:59px; height:1px; width:100%;z-index:10;"></div>
    <div  style="height:100vh;" layout="column" layout-align="center center" flex>
        <h1 layout="row">
            <span>l</span>
            <span style="font-size:22px; margin: 6px 2px">l</span>
            <span>leDao</span>
        </h1>
        <p style="font-size:20px;">What is <b>your</b> time worth?</p>
        <div ng-show="loaded && !hasMedao" layout="column" layout-align="center center">
            <md-input-container ng-class="{'dotted': dotted}" md-no-float>
                <input aria-label="Enter your name"  class="medao-input"
                       ng-focus="onFocus()" 
                       ng-blur="onBlur()"
                       ng-model="medao.name">
            </md-input-container>
            <register-btn medao-name="medao.name" disabled="!medao.valid"></register-btn>  
            <md-button class="medao-btn" aria-label="preview medao" ng-click="goto('0x368c93667090fb02a6159f0d44b145499b6fc7e1/medao')">preview</md-button>
        </div>
        <div ng-show="hasMedao" layout="column" layout-align="center center">
            <p> {{medao.salary | decimals:1}} eth / year</p>
            <md-button aria-label="Go to Me DAO" class="medao-btn md-raised md-primary" ng-disabled="!loaded" ng-click="goto(account+'/medao')">Go to MeDao</md-button>
        </div>
    </div>
</div>