<div class="scrollable" fxLayout="column" fxFlexFill>
    <h1 style="margin: 16px 8px; text-align: center" fxLayout="column" fxLayoutAlign="center center" fxFlex="152px">
        MeDao
        <div style="padding: 8px 16px; font-size: 16px; color: rgba(255,255,255,0.5)">
            Invest in people.
        </div>
    </h1>
    <div *ngIf="!User.medao" class="secondary-bg" style="margin-top: 16px; position: relative;" fxLayout="row" fxLayoutAlign="center" fxFlex="363px">
        <div class="padding" fxLayout="column" fxFlex="420px">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput type="text" [(ngModel)]="medao.name" [disabled]="medao.tx.promise">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Birth Date</mat-label>
                <input matInput [max]="medao.maxDate" [matDatepicker]="myDatepicker" [(ngModel)]="medao.date" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Hourly Wage</mat-label>
                <input matInput type="number" step="0.01" min="0.01" [(ngModel)]="medao.wage" [disabled]="medao.tx.promise">
                <span style="padding: 0px 7px;" matSuffix>$</span>
            </mat-form-field>
            <div fxLayout="row">
                <div style="overflow: hidden; min-width: 0px;" fxFlex>
                    <mat-form-field style="min-width: 0px; !important; width: 100%">
                        <mat-label>Seed funds</mat-label>
                        <input matInput type="number" step="0.01" min="0.01" max="{{Web3.account.balance | toDai | number:'1.2-2'}}" [(ngModel)]="medao.seed" [disabled]="medao.tx.promise">
                        <span style="padding: 0px 7px;" matSuffix>$</span>
                        <mat-hint><span class="white-text">available: ${{Web3.account.balance | toDai | number:'1.2-2'}}</span></mat-hint>
                    </mat-form-field>
                </div>
                <div class="white-text" fxLayout="row" fxFlex="118px">
                    <span style="padding: 0px 4px; margin-top: 19px;">payed in</span>
                    <mat-form-field fxFlex="50px">
                        <mat-select [(ngModel)]="medao.paymentToken" [disabled]="medao.tx.promise">
                            <mat-option *ngFor="let token of tokens" [value]="token" [disabled]="['dai','weth'].includes(token)">
                              {{token}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <span fxFlex="32px"></span>
            <button mat-button *ngIf="!valid() || medao.tx.promise" style="color: grey;" disabled="true">submit</button>
            <button mat-button *ngIf="valid() && !medao.tx.promise" style="color: white;" (click)="submit()">submit</button>
        </div>
        <div *ngIf="!Web3.account.signedIn" style="background-color: rgba(0,0,0,0.87); z-index: 2; position: absolute; top: 0px; width: 100%; height: 100%;">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <div *ngIf="!Web3.network.connected" fxLayout="column" >
                    <p>No web3 detected!</p>
                    <a *ngIf="!Web3.network.connected" mat-button style="border: 1px solid rgba(255,255,255,0.33); color: white;" href="https://metamask.io" target="_blank">
                        try metamask
                    </a>
                </div>
                <div *ngIf="Web3.network.connected && !Web3.account.signedIn" fxLayout="column" fxLayoutAlign="center center" fxFlex>
                    <p *ngIf="Web3.network.valid">Sign in to web3 to continue</p>
                    <p *ngIf="!Web3.network.valid" class="centered">{{Web3.network.name}} not supported. <br> Try Kovan instead.</p>
                    <app-signin-button *ngIf="Web3.network.valid" ([disabled])="!Web3.network.valid"></app-signin-button>
                </div>
            </div>
        </div>
        <div *ngIf="medao.tx.promise" fxLayoutAlign="center center" style="background-color: rgba(0,0,0,0.87); z-index: 2; position: absolute; top: 0px; width: 100%; height: 100%;">
            <p *ngIf="!medao.tx.hash" class="centered">Waiting for user confirmation.</p>
            <p *ngIf="medao.tx.hash" class="centered">Waiting for MeDao to deploy. <br> Be patient!</p>
        </div>
    </div>
    <div *ngIf="User.medao" class="secondary-bg" fxLayout="row" fxLayoutAlign="center" >
        <div class="padding" fxLayout="column" fxLayoutGap="16px" fxFlex="420px">
            <h4 class="centered">Signed in as:</h4>
            <h2 class="centered">{{User.medao.name}}</h2>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <h5 class="no-margin" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
                    <div>${{User.medao.hourlyWage | number: '1.2-2'}}/h</div>
                    <small style="color: rgba(255,255,255,0.5);">hourly</small>
                </h5>
                <h5 class="no-margin" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
                    <div>${{User.medao.balance/1000 | number: '1.0-0'}}k</div>
                    <small style="color: rgba(255,255,255,0.5);">funded</small>
                </h5>
                <h5 class="no-margin" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
                    <div>{{User.medao.owner.balance | number: '1.1-2'}}<span style="padding: 2px">h</span></div>
                    <small style="color: rgba(255,255,255,0.5);">balance</small>
                </h5>
            </div>
            <div fxLayout="column">
                <button mat-button style="color: white" [routerLink]="['/medao/',User.medao.address]">view</button>
            </div>
        </div>
    </div>
    <div class="padding" fxLayout="column" fxLayout.gt-sm="row">
        <div class="padding" fxLayout="column" fxFlex.gt-sm="33">
            <h3>How does it work?</h3>
            <p>
                Having a MeDao makes you an employee of the world. Investors pool money together from which you (the employee) withdraw a salary for time worked. As value is returned to investors, the value of your time will go up.
            </p>
        </div>
        <div class="padding" fxLayout="column" fxFlex.gt-sm="33">
            <h3>Is it safe?</h3>
            <p>
                A MeDao has built in properties to protect the funds of each investor. Downside potential is something that can be calculated down to the penny. For example, if you invest $100 into a 33 year old employee, in exactly one year your investment will still be worth $97 even if no value is created by the employee.
            </p>
        </div>
        <div class="padding" fxLayout="column" fxFlex.gt-sm="33">
            <h3>Third Bullet Point</h3>
            <p>
                To do
            </p>
        </div>
    </div>
</div>
