<div style="background-color:rgb(22,22,55)" layout="column" layout-fill layout-padding layout-margin flex>
    <div layout="row">
        <span flex></span>
        <md-button class="nav-button" style="color:rgba(255,255,255,0.87)" ng-click="cancel()">close</md-button>
    </div>
    <div>
        <h1>Place Bid</h1>
        <div ng-show=!onCooldown>
            <md-input-container class="md-block" md-no-float>
                <label>Bid Amount in Ether</label>
                <input type="number" ng-model="amount.inEther">
            </md-input-container>
            <div layout="column" layout-gt-sm="row" flex>
                <div layout="row" flex>
                    <md-button class="nav-button md-raised md-warn" ng-click="amount.inEther = max" flex>Max</md-button>
                    <span flex-gt-sm></span>
                    <md-button class="nav-button md-raised md-primary" ng-disabled="!validBid()" ng-click="answer(amount.inEther)" flex>Place</md-button>
                </div>
            </div>
        </div>
        <div layout="column" flex>
            <h3>Open Bids</h3>
            <auction-teir ng-click="setBidValue(teir)" ng-repeat="teir in teirs" class="cursor" auction-address="auctionAddress" teir="teir"></auction-teir>
        </div>
    </div>
</div>