<div fxLayout="row" fxLayoutGap="32px">
    <div class="info-bubble">
        <div class="dark-text" style="height: 24px;">${{medao.hourlyWage | number: '1.2-2'}}</div>
        <div class="grey-text" style="font-size: 12px;">hourly wage</div>
    </div>
    <div class="info-bubble">
        <div class="dark-text" style="height: 24px;">{{medao.balance / 1000 | number: '1.0-0'}}k/{{medao.maxFunding / 1000 | number: '1.0-0'}}k</div>
        <div class="grey-text" style="font-size: 12px;">funding: {{medao.fundedPercent}}%</div>
    </div>
    <div class="info-bubble" *ngIf="!User.balances[medao.token.address]">
        <div class="dark-text" style="height: 24px;">$0.00</div>
        <div class="grey-text" style="font-size: 12px;">balance: 0h</div>
    </div>
    <div class="info-bubble" *ngIf="User.balances[medao.token.address]">
        <div class="dark-text" style="height: 24px;">${{medao.hourlyWage * User.balances[medao.token.address] | number: '1.2-2'}}</div>
        <div class="grey-text" style="font-size: 12px;">balance: {{User.balances[medao.token.address]}}h</div>
    </div>
</div>
