<div style="z-index:100 !important;" layout="column" layout-fill flex>
    <div style="border: 1px solid rgba(255,255,255,0.87); margin:8px; border-top: 0px solid white;" layout="column" layout-align="center center" layout-padding flex="100">Sell Orders</div>
    <div layout="column">
        <div>
            <div layout="column">
                    <div style="padding:0px; margin: 0px;" class="lighter-background" layout="row" layout-align="center center" flex>
                    <md-button class="medao-btn" ng-class="{'light-grey-text': exchange.type == 'sell'}" md-no-ink ng-click="exchange.type = 'buy'" flex>buy </md-button>
                    <span layout="row" layout-align="center center">
                        <span>|</span>
                        <md-button class="md-icon-button" aria-label="back" ng-click="back()">
                            <md-icon md-svg-src="libs/fonts/ic_close_white_24px.svg"></md-icon>
                        </md-button>
                        <span>|</span>
                    </span>
                    <md-button class="medao-btn" ng-class="{'light-grey-text': exchange.type == 'buy'}" md-no-ink ng-click="exchange.type = 'sell'" flex>sell</md-button>
                </div>
                <div ng-show="exchange.type != null" layout="column" layout-padding layout-margin>
                    <div ng-show="exchange.type == 'buy'">
                        <div layout-xs="column" layout="row" layout-gt-sm="column">
                            <div flex-gt-xs>
                                <md-slider-container flex>
                                    <div style="min-width: 75px;">{{exchange.buy.totalHours}} Hours</div>
                                    <md-slider min="1" max="40" ng-model="exchange.buy.totalHours" aria-label="buy hours slider" flex></md-slider>
                                </md-slider-container>
                            </div>
                            <div layout="row">
                                &nbsp&nbsp
                                <md-button class="medao-btn" ng-disabled="exchange.buy.totalHours == 0 || exchange.buy.totalHours == null" flex>quick buy</md-button>
                            </div>
                        </div>
                        <div>
                            <md-input-container class="md-block" style="border-bottom:1px solid rgba(255,255,255,0.67)">
                                <label>Buy Value (eth/hr)</label>
                                <input type="number" ng-model="exchange.buy.amountPerHourInEther">
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-button class="medao-btn" ng-click="placeBuyOrder()" ng-disabled="exchange.buy.amountPerHourInEther <= 0 || exchange.buy.amountPerHourInEther == null || exchange.buy.totalHours <= 0 || exchange.buy.totalHours == null" flex>place {{exchange.buy.totalHours}} orders for {{exchange.buy.totalHours * exchange.buy.amountPerHourInEther | decimals:2}} eth</md-button>
                        </div>
                    </div>
                    <div ng-show="exchange.type == 'sell'">
                        <div layout-xs="column" layout="row" layout-gt-sm="column">
                            <div flex-gt-xs>
                                <md-slider-container flex>
                                    <div style="min-width: 75px;">{{exchange.sell.totalHours}} Hours</div>
                                    <md-slider min="1" max="40" ng-model="exchange.sell.totalHours" aria-label="sell hours slider" flex></md-slider>
                                </md-slider-container>
                            </div>
                            <div layout="row">
                                &nbsp&nbsp
                                <md-button class="medao-btn" ng-disabled="exchange.sell.totalHours == 0 || exchange.sell.totalHours == null" flex>quick sell</md-button>
                            </div>
                        </div>
                        <div>
                            <md-input-container class="md-block" style="border-bottom:1px solid rgba(255,255,255,0.67)">
                                <label>Sell Value (eth/hr)</label>
                                <input type="number" ng-model="exchange.sell.amountPerHourInEther">
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-button class="medao-btn" ng-click="placeSellOrder()" ng-disabled="exchange.sell.amountPerHourInEther <= 0 || exchange.sell.amountPerHourInEther == null || exchange.sell.totalHours <= 0 || exchange.sell.totalHours == null" flex>place {{exchange.sell.totalHours}} orders for {{exchange.sell.totalHours * exchange.sell.amountPerHourInEther | decimals:2}} eth</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="border: 1px solid rgba(255,255,255,0.87); margin:8px; border-bottom: 0px solid white;" layout="column" layout-align="center center" layout-padding flex="100">Buy Orders</div>
</div>