<div fxLayout="column" fxLayoutGap="16px" fxFlex>
    <div>Last Paycheck <span fxFlex></span> {{medao.lastPaycheck | date: 'LLLL dd, yyyy'}}</div>
    <div>Birth Date <span fxFlex></span> {{medao.birthDate | date: 'LLLL dd, yyyy'}}</div>
    <div>
        Hourly Wage
        <span fxFlex></span>
        ${{medao.wage.current | number: '1.2-2'}}/{{medao.wage.max | number: '1.2-2'}}
    </div>
    <div>
        Approximate Salary
        <span fxFlex></span>
        ${{medao.salary.current | number: '1.0-0'}}/{{medao.salary.max | number: '1.0-0'}}
    </div>
    <div>
        Total Supply
        <span fxFlex></span>
        <div *ngIf="medao.supply.current > 1">{{medao.supply.current | number: '1.0-0'}}</div>
        <div *ngIf="medao.supply.current <= 1">{{medao.supply.current | number: '1.0-2'}}</div>
        /{{medao.supply.max | number: '1.0-0'}}
        <span style="padding-left: 2px">h</span>
    </div>
    <div>
        Max Annual Inflation
        <span fxFlex></span>
        {{medao.supply.inflation * 100 | number: '1.0-2'}}%
    </div>
</div>
