<div id="footer">
    <div class="skinny">
        <div class="padding32" fxLayout="row" fxHide fxShow.xs>
            <div fxLayout="column" fxLayoutGap="32px" fxFlex>
                <div fxLayout="column" fxLayoutGap="12px">
                    <b>About</b>
                    <span class="cursor">Mission</span>
                    <span class="cursor">Team</span>
                </div>
                <div fxLayout="column" fxLayoutGap="12px">
                    <b>Support</b>
                    <span class="cursor">Chat</span>
                    <span class="cursor">Email</span>
                </div>
            </div>
            <div fxLayout="column" fxLayoutGap="32px" fxFlex>
                <div fxLayout="column" fxLayoutGap="12px">
                    <b>Links</b>
                    <span class="cursor">Chat</span>
                    <span class="cursor">Email</span>
                </div>
                <div fxLayout="column" fxLayoutGap="12px">
                    <b>Partner Projects</b>
                    <span class="cursor">Everchain</span>
                </div>
            </div>
        </div>
        <div class="padding32" fxLayout="row" fxHide.xs>
            <div fxLayout="column" fxLayoutAlign="start center" fxFlex>
                <div fxLayout="column" fxLayoutGap="12px">
                    <b>About</b>
                    <span class="cursor">Mission</span>
                    <span class="cursor">Team</span>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start center" fxFlex>
                <div fxLayout="column" fxLayoutGap="12px">
                    <b>Support</b>
                    <span class="cursor">Chat</span>
                    <span class="cursor">Email</span>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start center" fxFlex>
                <div fxLayout="column" fxLayoutGap="12px">
                    <b>Links</b>
                    <span class="cursor">Github</span>
                    <span class="cursor">Audit</span>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start center" fxFlex>
                <div fxLayout="column" fxLayoutGap="12px">
                    <b>Partner Projects</b>
                    <span class="cursor">Everchain</span>
                </div>
            </div>
        </div>
    </div>
</div>
