<div class="black-background" style="overflow:auto;" flex>
    <div class="black-background" style="position:fixed;top:0px; height:145px; width:100%;z-index:10;">
        <div layout="row" layout-align="left top"  flex>
            <div layout="row" layout-padding flex>
                <span class="cursor" style="margin-right:12px;" layout="row" ng-click="goto('/home')">
                    <span style="font-size:16px;">l</span>
                    <span style="font-size:10px; margin: 3px 1px">l</span>
                    <span style="font-size:16px;">l</span>
                    <span style="margin: 0px 1px">eDao</span>
                </span>
                <span ng-hide="showSearch" flex></span>
                <span class="search-bar" ng-class="{'lighter-background':showSearch}" style="padding:0px 4px" ng-show="showSearch" layout="row" flex>
                    <md-input-container style="margin:0px" md-no-float flex>
                        <label>Enter an address</label>
                        <input type="text" ng-model="search.text">
                    </md-input-container>
                </span>
                <md-button ng-show="showSearch" class="search-bar-btn search-btn" ng-class="{'lighter-background':showSearch}" ng-click="validateSearch(search.text)">
                    <md-icon aria-label="search medaos" md-svg-src="libs/fonts/ic_search_white_24px.svg"></md-icon>
                </md-button>
                <md-button ng-show="showSearch" class="search-bar-btn" ng-click="showSearch = !showSearch">
                    <md-icon aria-label="hide search bar" md-svg-src="libs/fonts/ic_close_white_24px.svg"></md-icon>
                </md-button>
                <md-button ng-hide="showSearch" class="search-bar-btn" ng-class="{'lighter-background':showSearch}" ng-click="showSearch = !showSearch">
                    <md-icon aria-label="show search bar" md-svg-src="libs/fonts/ic_search_white_24px.svg"></md-icon>
                </md-button>
            </div>
        </div>
        <div layout="row" layout-align="center center" flex>
            <div layout="column" layout-align="top center">
                <h1 style="margin-bottom:8px;">{{platform.token.name}}</h1>
                <a ng-show="platform.medao.url != ''" class="medao-url cursor" ng-click="goToUrl(platform.medao.url)">{{platform.medao.url}}</a>
                <span ng-show="platform.medao.url == ''" class="medao-url">no webpage set</span>
            </div>
        </div>
    </div>
    <div style="background-color: rgba(37,37,37,0.92);position:fixed;top:145px; height:3px; width:100%;z-index:10;"></div>
    <div style="background-color: rgba(37,37,37,0.78);position:fixed;top:148px; height:3px; width:100%;z-index:10;"></div>
    <div style="background-color: rgba(37,37,37,0.50);position:fixed;top:151px; height:3px; width:100%;z-index:10;"></div>
    <div id="spacer" style="height:160px"></div>
    <div class="lighter-background" layout="row" layout-align="center center" flex>
        <send-btn owner="platform.medao.owner"></send-btn>
        <span>|</span>
        <payment-btn owner="platform.medao.owner"></payment-btn>
        <span>|</span>
        <receive-btn owner="platform.medao.owner"></receive-btn>
    </div>
    <div layout="column" layout-gt-sm="row">
        <div layout="row" layout-gt-sm="column" layout-align="space-around center" layout-padding flex>
            <span layout="row" layout-align="center center" flex="50">
                <span layout="row" layout-align="center center" layout-padding>
                    <span layout="row">
                        <span style="font-size:22px;">l</span>
                        <span style="font-size:16px; margin: 4px 2px">l</span>
                        <span style="font-size:22px;">l</span>
                    </span>
                    <span style="padding:0px;">{{platform.account.secondsBalance / 3600 | decimals:2}}<span style="color:rgba(255,255,255,0.5)"> h</span></span>
                    <md-tooltip md-direction="right">
                        <small>Hours invested in {{platform.token.name}}</small>
                    </md-tooltip>
                </span>
            </span>
            <span layout="row" layout-align="center center" flex="50">
                <span layout="row" layout-align="center center" layout-padding>
                   <span style="font-size:24px;">&Xi;</span>
                    <span style="padding:0px;">{{platform.account.weiBalance | fromWei:'ether' | decimals:2}}<span style="color:rgba(255,255,255,0.5)"> eth</span></span>
                    <md-tooltip md-direction="left">
                        <small>Current Ether in your wallet</small>
                    </md-tooltip>
                </span>
            </span>
        </div>
        <div layout="row" layout-gt-sm="column" layout-align="space-around center" layout-padding flex>
            <span layout="row" layout-align="center center" layout-padding flex="50">
                <span layout="row" layout-align="center center" layout-padding>
                    <span><md-icon md-svg-src="libs/fonts/ic_access_time_white_24px.svg"></md-icon></span>
                    <span style="padding:0px;">{{platform.token.supply / 3600 | decimals:2}}<span style="color:rgba(255,255,255,0.5)"> h</span></span>
                    <md-tooltip md-direction="right">
                        <small>Total hours owed by {{platform.token.name}}</small>
                    </md-tooltip>
                </span>
            </span>
            <span layout="row" layout-align="center center" flex="50">
                <span layout="row" layout-align="center center" layout-padding>
                    <span><md-icon md-svg-src="libs/fonts/ic_whatshot_white_24px.svg"></md-icon></span>
                    <span style="padding:0px;">{{platform.medao.burned | decimals:2}}<span style="color:rgba(255,255,255,0.5)"> h</span></span>
                    <md-tooltip md-direction="left">
                        <small>Proof of total hours worked</small>
                    </md-tooltip>
                </span>
            </span>
        </div>
        <div layout="row" layout-gt-sm="column" layout-align="space-around center" layout-padding flex>
            <span layout="row" layout-align="center center" layout-padding flex="50">
                <span layout="row" layout-align="center center" layout-padding>
                    <span><md-icon aria-label="total ether bid" md-svg-src="libs/fonts/ic_lock_white_24px.svg"></md-icon></span>
                    <span>{{platform.auction.locked | decimals:2}}<span style="color:rgba(255,255,255,0.5)"> eth</span></span>
                    <md-tooltip md-direction="right">
                        <small>Total ether bid at auction</small>
                    </md-tooltip>
                </span>
            </span>
            <span layout="row" layout-align="center center" layout-padding flex="50">
                <span layout="row" layout-align="center center" layout-padding>
                    <span><md-icon md-svg-src="libs/fonts/ic_trending_up_white_24px.svg"></md-icon></span>
                    <span>{{platform.auction.bids}}<span style="color:rgba(255,255,255,0.5)"> bids</span></span>
                    <md-tooltip md-direction="left">
                        <small>Total bids placed at auction</small>
                    </md-tooltip>
                </span>
            </span>
        </div>
        <div layout="row" layout-gt-sm="column" layout-align="space-around center" layout-padding flex>
            <span layout="row" layout-align="center center" layout-padding flex="50">
                <span layout="row" layout-align="center center" layout-padding>
                    <span><md-icon md-svg-src="libs/fonts/ic_arrow_upward_white_24px.svg"></md-icon></span>
                    <span>{{platform.auction.highestBidInWei | fromWei:'ether'}} <span style="color:rgba(255,255,255,0.5)">eth</span></span>
                    <md-tooltip md-direction="right">
                        <small>Total ether bid at auction</small>
                    </md-tooltip>
                </span>
            </span>
            <span layout="row" layout-align="center center" layout-padding flex="50">
                <span layout="row" layout-align="center center" layout-padding>
                    <span><md-icon md-svg-src="libs/fonts/ic_add_white_24px.svg"></md-icon></span>
                    <span>{{platform.auction.reward}} <span style="color:rgba(255,255,255,0.5)"> h/wk</span></span>
                    <md-tooltip md-direction="left">
                        <small>Hours awarded at auction each week</small>
                    </md-tooltip>
                </span>
            </span>
        </div>
    </div>
    <div class="lighter-background" layout="row" layout-align="center center" flex>
        <place-bid-btn owner="platform.medao.owner"></place-bid-btn>
        <span>|</span>
        <start-auction-btn owner="platform.medao.owner"></start-auction-btn>
        <span>|</span>
        <remove-bid-btn owner="platform.medao.owner"></remove-bid-btn>
    </div>
    <div ng-show="isOwner">
        <div layout="row" layout-align="center center" flex>
            <h3>admin</h3>
        </div>
        <div class="lighter-background" layout="column" layout-gt-sm="row" layout-align="center center" flex>
            <div layout="row" layout-align="center center">
                <set-reward-btn owner="platform.medao.owner"></set-reward-btn>
                <span hide show-gt-sm>|</span>
                <set-vault-btn owner="platform.medao.owner"></set-vault-btn>
            </div>
            <span hide show-gt-sm>|</span>
            <div layout="row" layout-align="center center">
                <set-burn-btn owner="platform.medao.owner"></set-burn-btn>
                <span hide show-gt-sm>|</span>
                <set-owner-btn owner="platform.medao.owner"></set-owner-btn>
            </div>
            <span hide show-gt-sm>|</span>
            <div layout="row" layout-align="center center">
                <toggle-transfers-btn owner="platform.medao.owner"></toggle-transfers-btn>
                <span hide show-gt-sm>|</span>
                <set-url-btn owner="platform.medao.owner"></set-url-btn>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" flex>
        <h3>recent payments</h3>
    </div>
    <comments owner="platform.medao.owner"></comments>
</div>