md-icon {
    color: rgba(255,255,255,0.87);
}

.medao-btn {
    text-transform: lowercase;
    color: rgba(255,255,255,0.87);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    color: rgba(255,255,255,0.87);
    font-size: small;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(255,255,255,0.05);
}

md-dialog {
    background-color: rgba(40,40,40,1);
}

md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder {
    color: rgba(255,255,255,0.87);
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label {
color: rgba(255,255,255,0.87);
}
    
.rotate90 {
    width:26px;
    height:26px;
    -ms-transform:rotate(270deg); /* IE 9 */
    -moz-transform:rotate(270deg); /* Firefox */
    -webkit-transform:rotate(270deg); /* Safari and Chrome */
    -o-transform:rotate(270deg); /* Opera */
}
    