md-icon {
    color: rgba(255,255,255,0.87);
}

.medao-btn {
    text-transform: lowercase;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    font-size: small;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(255,255,255,0.05);
}